<%= turbo_frame_tag (game_thumbnail_id @game), class: 'game-thumbnail' do %>
  <%= link_to @game, id: (dom_id @game) do %>
    <h3><%= @game.name %></h3>
    <strong>
      <ion-icon name="flash"></ion-icon>
      <%= @game.participants.count %>
    </strong>
  <% end %>
<% end %>