<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div class="game-thumbnails">
  <% @games.each do |game| %>
    <%= render GameThumbnailComponent.new game: %>
  <% end %>
</div>

<%= link_to "New game", new_game_path %>
