<h2>
  <ion-icon name="bookmark"></ion-icon>
  My Games
</h2>

<div id="games" class="game-thumbnails">
  <% @games.each do |game| %>
    <%= render GameThumbnailComponent.new(game:) %>
  <% end %>
</div>

<%= link_to "New game", new_game_path %>
